.project
.pydevproject
M2011
ruapehu_heat_flow_project_10min_pitch.ppt
*~
build
dist
*.pyc
*.egg-info
.ipynb_checkpoints
*.swp
*.nc
*.png
manuscript/manuscript.aux
manuscript/manuscript.bbl
manuscript/manuscript.blg
manuscript/manuscript.docx
manuscript/manuscript.log
manuscript/manuscript.odt
manuscript/manuscript.pdf
manuscript/figures/.cache/.pumahu.syn_model.run
manuscript/figures/.cache/.pumahu.syn_model.sensitivity_analysis_grid
.cache/.pumahu.syn_model.run
manuscript/figures/data/Windquery.log
