scikit-learn==1.0
tqdm==4.62
numpy==1.21
scipy==1.5
matplotlib==3.4
pandas==1.3
netcdf4==1.5
xarray==0.19
ipykernel==6.4
nbformat==5.1
ipdb==0.13
plotly==4.14.3
kaleido==0.2
ipywidgets>=7.5
seaborn==0.11
pytest==6.2
fastapi==0.89
uvicorn[standard]==0.20
filterpy==1.4
cachier==1.5
obspy==1.3
sphinx==4.2
schedule>=1.1*
nbconvert==6.2
git+https://github.com/yannikbehr/nsampling.git
importlib-metadata==4.13