bqplot
scikit-learn
tqdm
numpy
scipy
matplotlib
pandas
netcdf4
xarray
ipykernel
nbformat
ipdb
plotly==4.14.3
kaleido
ipywidgets>=7.5
seaborn
pytest
filterpy
cachier
obspy
sphinx
git+https://github.com/yannikbehr/nsampling.git
