bqplot
scikit-learn
tqdm
numpy
scipy
matplotlib
pandas
netcdf4
xarray
ipykernel
plotly==4.14.3
ipywidgets>=7.5
jupyterlab
seaborn
pytest
filterpy
cachier
obspy
git+https://github.com/yannikbehr/nsampling.git
